/all efficient net.csv
/efficient net b4.csv
/efficient net b5.csv
/efficient netb5 kfold5.csv
/efficient netb7.csv
/model1
/model2
/model3
/model4
/model5
/models
/NASNet.csv
/sad efficient net.csv
/sample_submission.csv
/SeNet.csv